.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
    height: 300px;
    margin-top: 50px;
}

.textoFrase{
    font-size: italic;
    color: #dd7b22;
    text-align: center;
}

button {
    background-color: rgb(202, 176, 176);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none; /* Sem borda */
    color: white; /* Cor do texto */
    padding: 15px 32px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: inline-block; /* Exibição inline-block */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margens */
    cursor: pointer; /* Cursor de ponteiro */
    border-radius: 12px; /* Bordas arredondadas */
    transition:  transform 0.3s ease; /* Transições */
}